<header class="border-b border-black">
    <div>
        <img src="assets/images/homepage-img.png" class="z-0 w-screen h-screen absolute filter brightness-75"
            alt="header_img">
        <nav class="text-gray-300  flex justify-between m-auto w-[600px] relative">
            <a class="text-lg" href="">Home</a>
            <a class="text-lg" href="">Products</a>
            <a class="text-lg" href="">New</a>
        </nav>
        <h1 class="relative text-[350px] font-sans text-gray-200 font-thin">HOME</h1>
    </div>
</header>