
<header class="border-b border-black">
    <div class="relative">
        <img src="assets/images/homepage-img.png" class="z-0 w-full h-[300px] brightness-50" alt="header_img">
        <nav class="custom-navbar flex justify-between items-center text-gray-300 w-[500px] m-auto pt-3">
            <button class="text-lg" routerLink="/">Home</button>
            <button class="text-lg" routerLink="/products">Products</button>
            <button class="text-lg" routerLink="/add">New</button>
        </nav>
        <h2 class="custom-subtitle text-gray-500">Don't follow the way. Be the way.</h2>
    </div>
</header>